{% extends 'base.html' %}

{% block title %}Home | Photo Gallery{% endblock %}

{% block content %}

<div class="max-w-6xl mx-auto px-4 py-8">

<h2 class="text-2xl font-bold mb-6">
    Latest Photos
</h2>
<div class="mb-6">

    <div class="flex flex-wrap gap-2">

        <a
            href="{% url 'home' %}"
            class="px-4 py-2 rounded-full bg-gray-200 text-gray-700 hover:bg-gray-300"
        >
            All Photos
        </a>

        <a
            href="?tag=nature"
            class="px-4 py-2 rounded-full bg-blue-100 text-blue-700 hover:bg-blue-200"
        >
            Nature
        </a>
        <a
            href="?tag=oceanview"
            class="px-4 py-2 rounded-full bg-blue-100 text-blue-700 hover:bg-blue-200"
        >
            Ocean View
        </a>

        <a
            href="?tag=sunset"
            class="px-4 py-2 rounded-full bg-blue-100 text-blue-700 hover:bg-blue-200"
        >
            Sunset
        </a>

        <a
            href="?tag=beach"
            class="px-4 py-2 rounded-full bg-blue-100 text-blue-700 hover:bg-blue-200"
        >
            Beach
        </a>

    </div>

</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    {% for photo in photos %}

        <div class="bg-white rounded-lg shadow p-4">

            <a href="{% url 'photo_detail' photo.id %}">
    <img
        src="{{ photo.image.url }}"
        alt="{{ photo.title }}"
        class="w-full h-48 object-cover rounded"
    >
</a>
            <h3 class="font-semibold text-lg mt-4">
                {{ photo.title }}
            </h3>

            <p class="text-gray-600">
                {{ photo.description }}
            </p>

            <p class="text-sm text-gray-500 mt-2">
                Uploaded by {{ photo.user.username }}
            </p>
 <div class="flex items-center gap-3 mt-4">

    <form method="POST" action="{% url 'react_to_photo' photo.id %}">
        {% csrf_token %}
        <input type="hidden" name="reaction" value="like">

        <button
            type="submit"
            class="px-3 py-2 bg-blue-100 text-blue-700 rounded-lg hover:bg-blue-200"
        >
             Like
        </button>
    </form>

    <span class="text-gray-600">
        {{ photo.like_count }}
    </span>

    <form method="POST" action="{% url 'react_to_photo' photo.id %}">
        {% csrf_token %}
        <input type="hidden" name="reaction" value="dislike">

        <button
            type="submit"
            class="px-3 py-2 bg-red-100 text-red-700 rounded-lg hover:bg-red-200"
        >
             Dislike
        </button>
    </form>

    <span class="text-gray-600">
        {{ photo.dislike_count }}
    </span>

</div>

        </div>

    {% empty %}

        <p class="text-gray-500">
            No photos available.
        </p>

    {% endfor %}

</div>

</div>

{% endblock %}